.chatMessagesContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  margin-bottom: 100px;
}

.chatMessage{
  padding: 10px;
}
.chatMessageSystem {
  color: #FF7070;
  text-align: center;
  font-weight: 600;
  margin: 10px;
  padding: 20px;
}
.chatMessageAssistant {
  background-color: white;
  color: black;
  text-align: left;
}
.chatMessageUser {
  background-color: #FFF0F0;
  color: #FF7070;
  text-align: right;
}