.drawerContainer {
  position: fixed;
  bottom: 0;
  width: 50%;
  z-index: 10;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-left: 1px solid #FF7070;
  border-top: 1px solid #FF7070;
  border-right: 1px solid #FF7070;
  background-color: white;
}

.drawerContent {
  display: none;
  padding: 20px;
}

.toggleButton {
  width: 100%;
  textAlign: center;
  padding: 10px;
  background-color: #FFF0F0;
  border: none;
  cursor: pointer;
  outline: none;
  color: #FF7070;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toggleButton > * {
  margin-left: 4px;
  margin-right: 8px;
}

/* Styles for when the drawer is open */
.drawerContainer.open {
  transform: translateY(0);
  z-index: 20;
}

.drawerContainer.closed {
  transform: translateY(0);
}

.drawerContainer.open .drawerContent {
  display: block;
}

.settingsContent :first-child {
  margin-top: 0;
}
.settingsContent :last-child {
  margin-bottom: 0;
}
.settingsContent > * {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0 !important;
}

.iceBreakersContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.iceBreakersTitle {
  margin-bottom: 10px;
  text-align: center;
  font-weight: 600;
}
.iceBreakersGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

/* Media query for mobile browsers */
@media (max-width: 768px) {
  .iceBreakersGrid {
    display: block;
  }
  .iceBreakersGrid > * {
    width: 100%;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .iceBreakersGrid :first-child {
    margin-top: 0;
  }
  .iceBreakersGrid :last-child {
    margin-bottom: 0;
  }
  .drawerContainer.open {
    width: 100%;
  }
}

/* Media query for Desktop browsers */
@media (max-width: 768px) {
  .iceBreakersGrid {
    display: block;
  }
}