.drawerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  maxHeight: 50px;  /* Initially showing just the button */
  overflow: hidden;
  transition: maxHeight 0.5s ease-out;
}

.drawerContent {
  display: none;
  backgroundColor: #eee;
  padding: 20px;
  boxShadow: 0px -3px 5px rgba(0,0,0,0.2);
}

.toggleButton {
  width: 100%;
  textAlign: center;
  padding: 10px;
  backgroundColor: #ddd;
  border: none;
  cursor: pointer;
  outline: none;
}

.arrowIcon {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s;
}

/* Styles for when the drawer is open */
.drawerContainer.open {
  maxHeight: 70vh;
}

.drawerContainer.open .drawerContent {
  display: block;
}

.drawerContainer.open .arrowIcon {
  transform: rotate(180deg);
}

/* Media query for desktop sized browsers */
@media (min-width: 768px) {
  .drawerContainer {
    display: none;
  }
}
