.drawerContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top: 1px solid #FF7070;
  background-color: white;
}

.drawerContent {
  display: none;
  padding: 20px;
}

.toggleButton {
  width: 100%;
  textAlign: center;
  padding: 10px;
  background-color: #FFF0F0;
  border: none;
  cursor: pointer;
  outline: none;
}

.arrowIcon {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s;
  color: #FF7070;
  font-weight: 800;
}

/* Styles for when the drawer is open */
.drawerContainer.open {
  transform: translateY(0);
}

.drawerContainer.closed {
  transform: translateY(0);
}

.drawerContainer.open .drawerContent {
  display: block;
}

.drawerContent :first-child {
  margin-top: 0;
}
.drawerContent :last-child {
  margin-bottom: 0;
}
.drawerContent > * {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0 !important;
}

.drawerContainer.open .arrowIcon {
  transform: rotate(180deg);
}

/* Media query for desktop sized browsers */
@media (min-width: 768px) {
  .drawerContainer {
    display: none;
  }
}
