.pillButton {
  background-color: #FFA0A0;
  border: none;
  color: white;
  margin: 2px;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.8rem;
  font-family: Courier Prime, sans-serif;
  font-weight: 400;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.pillButton:hover {
  background-color: #FF7070;
}